<div *ngIf="!carsExists">
    <label>No cars in the lot</label>
</div>
<div *ngIf="carsExists">
    <table class="table table-striped">
        <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Plate Number</th>
        <th scope="col">Model</th>
        <th scope="col">Type Of Model</th>
        <th scope="col">Year Of Model</th>
        <th scope="col">Number Of KM</th>
        <th scope="col">Receiving Date</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ car.plateNumber }}</td>
        <td>{{ getModelName(car.modelID) }}</td>
        <td>{{ car.typeModel }}</td>
        <td>{{ car.yearModel }}</td>
        <td>{{ car.numberOfKM }}</td>
        <td>{{ car.receivingDate }}</td>
        <td>{{ car.wantedPrice }}</td>
        <td><button (click)="openModalToUpdateCar(car)">Update</button></td>
        <td><button (click)="delete(car.plateNumber)">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>

