<form [formGroup]="carDetailsForm" [ngClass]="{'margined-form': carToEdit }" >
    <div class="form-group">
      <div class="form-group">
        <label>PlateNumber:</label>
        <input pInputText type="text" formControlName="PlateNumber" title="can be letters and numbers" [attr.disabled]= "carToEdit">
      </div>
      <label class="center-block">Car Type:
          <select class="form-control" formControlName="modelID">
              <option *ngFor="let modelOfCar of carsModels" [ngValue]="modelOfCar.id">{{modelOfCar.name}}</option>
          </select>
      </label>
    </div>
    <div class="form-group">
      <label>Model Type:</label>
      <input pInputText type="text" formControlName="TypeModel">
    </div>
    
    <div class="form-group">
      <label>Year of model:</label>
      <input pInputText type="number" formControlName="YearModel" min="1980" max="2020"><!--Max can be achieved by taking out the year of the current date-->
    </div>

    <div class="form-group">
      <label>Number of KM (*1000):</label>
      <input pInputText type="number" formControlName="NumberOfKM">
    </div>
    <div class="form-group">
      <label>Wanted Price:</label>
      <input pInputText type="number" formControlName="WantedPrice">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addUpdateCar()" [disabled]="carDetailsForm.invalid">{{submitText}}</button>
    <div *ngIf="wasCarAdded">
      <label>{{UpdateAddString}}</label>
    </div>
  </form>