<div class="container-fluid">
  <div class="page-header center-text">
      <h1>Cars Lot System  <h4>Helps to manage your Cars repository</h4></h1>
  </div>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" href="#" [routerLinkActive]="'active'">Car Lot Grid</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" href="CarsLot/Update" [routerLinkActive]="'active'">Add a car</a>
        </li>
      </ul>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['CarsLot']" [routerLinkActive]="'active'" skipLocationChange>Car Lot Grid</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['CarUpdate']" [routerLinkActive]="'active'" skipLocationChange
          >Add a car</a>
        </li>
      </ul>
    </div>
  </nav>



  
  <router-outlet></router-outlet>
</div>